%ul
  %Li
    = "2011.4.19-5.31 贵阳-海口 560-930 2011.4.19-5.31 贵阳-重庆 420-700 2011.4.19-5.31 贵阳-南京 390-1300 "
  %Li
    = "2011.4.19-5.31 贵阳-珠海 600-860 2011.4.19-5.31 贵阳-长沙 480-600 2011.4.19-5.31 贵阳-昆明 180-440 "
  %Li
    = "2011.4.19-5.31 贵阳-深圳 470-940 2011.4.19-5.31 贵阳-广州 430-860 2011.4.19-5.31 贵阳-杭州 560-1410 "
  %Li
    = "2011.4.19-5.31 贵阳-成都 440-630 2011.4.19-5.31 贵阳-西安 250-840 2011.4.19-5.31 贵阳-上海 640-1600 "
  %Li
    = "2011.4.19-5.31 贵阳-北京 690-1730 "